# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
*.sdf
*.ilk
*.suo

# Packages
packages/

# Don't Ignore
!game/client/Graphics/Assets/**/*.obj
!game/client/Dependencies/**/*.lib
!game/client/Dependencies/**/*.dll
